/* select-input.component.css */
.select-input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.select-input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  transition: border-color 0.3s;
}

.select-input:focus {
  border-color: #007bff;
  outline: none;
}

.select-input:disabled {
  background-color: #f0f0f0;
  color: #999;
  cursor: not-allowed;
}
